body {
    font-family: "Arial","sans-serif";
}
#container {
    margin:15px 15x 15px 15px;
    padding:25px;
    border-style:solid;
    border-width:2px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}