        #demoContainer {
            position:relative;
        }
        #connectControls {
            float:left;
            width:250px;
            text-align:center;
            border: 2px solid black;
        }
        #otherClients {
            height:200px;
            overflow-y:scroll;
        }
        #selfVideo {
            height:225px;
            width:300px;
            float:left;
            border:1px solid gray;
            margin-left:10px;
        }
        .callerVideoBox {
            position:relative;
        }
        .callerVideo {
            height:225px;
            width:300px;
            border:1px solid gray;
            margin-left:10px;
        }
        .easyrtc_closeButton {
            position:absolute;
            right:2px;
            background-color: transparent;
            background-image: url('../images/button_close.png');
            border:none;
            margin:0;
            padding:0;
            top:0;
            width:56px;
            height:56px;
            z-index: 2;
            opacity:0.4;
        }
        .easyrtc_closeButton:hover {
            cursor: pointer;
            opacity:1;
        }
