#map{
  background: url(/img/city.svg) no-repeat;
  background-size:  100%;
  width:500px;
  height:500px;
  position: relative;
}
.building-link{
  position: absolute;
  display: block;
  width:50px;
  height:50px;
}

#b1{left:10px;top:50px;background: red;}
#b2{left:100px;top:150px;background: blue;}
#b3{left:150px;top:250px;background: green;}
#b4{left:210px;top:90px;background: olive;}
#b5{left:310px;top:150px;background: orange;}
#b6{left:10px;top:150px;background: tomato;}

#building{display: none;}

.table{
  position: absolute;
  width:50px;
  height:50px;
  background: blue;
  cursor:pointer;
}

.chair{
  position: absolute;
  background: red;
  width:20px;
  height:20px;
}

.chair1{
  left:-20px;
  top:20px;
}
.chair2{
  top: -20px;
  left:20px;
}
.chair3,.num2  .chair2{
  right:-20px;
  top:20px;
  left: auto;
}
.chair4{
  left:20px;
  bottom: -20px;
}
